body {
  margin: 0;
  font-family: 'Lilita One', cursive;
  /* font-family: 'Outfit', sans-serif; */
  /* font-family: 'Ubuntu', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FFCB05;
  background: url('./assent/fondo.jpg')
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
