
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
      }
  }
  
  .loadingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4em;
    margin-top: 12em;
  }
  
  .loadingSpinner {
    width: 200px;
    height: 200px;
    border: 10px solid rgba(255, 255, 255, 0.056);
    border-top: 10px solid #f95959; 
    border-bottom: 10px solid #FFCB05;
    border-radius: 70%;
    animation: spin 1.8s linear infinite;
  }