.detail {
    padding: 2em;
    padding-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.detail h1{
    font-size: xx-large;
    color: #7AC74C;
}

.detail h2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
}

.detail button{
    padding: 1em;
    border-radius: 10em;
    font-weight: bold;
    border: 4px solid rgb(229, 112, 53);
    color: rgb(229, 112, 53);
}

.detail button:hover {
    cursor: pointer;
}

.datos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.detail .grass {
    border: 4px solid rgb(19, 216, 36);
    color: green;
}

.detail .poison {
    border: 4px solid rgb(198, 21, 186);
    color: purple;
}

.detail .bug {
    border: 4px solid rgb(165, 198, 21);
    color: rgb(128, 107, 0);
}

.detail .fire {
    border: 4px solid rgb(253, 3, 3);
    color: rgb(215, 24, 24);
}

.detail .water {
    border: 4px solid rgb(42, 137, 182);
    color: rgb(49, 100, 162)
}

.detail .electric {
    border: 4px solid rgb(255, 255, 0);
    color: rgb(179, 179, 33);
}

.detail .ground {
    border: 4px solid rgb(160, 59, 4);
    color: rgb(52, 39, 6);
}

.detail .flying {
    border: 4px solid rgb(200, 105, 16);
    color: orange;
}

.barra {
    width: 15em; /* Ancho de la barra de vida */
    height: 1em; /* Altura de la barra de vida */
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .nivelBarra {
    height: 100%;
    background-color: #4CAF50;
  }